
# Created by https://www.toptal.com/developers/gitignore/api/vscode,vue,laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,vue,laravel

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

# End of https://www.toptal.com/developers/gitignore/api/vscode,vue,laravel

cache

.env.local
.env.test