<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>Swork - Planning Board</title>
    <link rel="stylesheet" type="text/css" href="scss/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="root">
      <div class="container" :class="darkMode ? 'dark' : 'light' ">
        <header>
          <div class="navbar">
            <div class="breadcrumb">
              <span>Fusion</span>
              <ion-icon name="chevron-forward-outline"></ion-icon>
              <span>Boards</span>
            </div>

            <div class="searchbox">
              <input
                class="search-box"
                type="text"
                placeholder="Search..."
                name="search"
                v-model="search"
              />
              <button class="search-btn" type="submit">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </div>

            <div class="userprofile">
              <div
                class="dropdownButton"
                @click.prevent="toggleShowProfileDropdown"
              >
                <div class="name">$$name$$</div>
                <div class="avatar">
                  <img src="./megh.jpg" alt="avatar1" />
                </div>
              </div>
              <div v-if="showProfileDropdown" class="dropdown-content">
                <a href="#">Logout</a>
                <a
                  href="#"
                  onclick="document.getElementById('SignUp').style.display='block'"
                  >Sign Up</a
                >
                <a
                  href="#"
                  onclick="document.getElementById('Login').style.display='block'"
                  >Login</a
                >
              </div>

              <div id="SignUp" class="modal">
                <span
                  onclick="document.getElementById('SignUp').style.display='none'"
                  class="close"
                  title="Close Modal"
                  >&times;</span
                >
                <div class="modal-content">
                  <div class="container_modal">
                    <div class="modal_header">
                      <div class="l_decor" onclick="toggleSignup()">
                        Sign Up
                      </div>
                      <div class="s_decor" onclick="toggleLogin()">Login</div>
                    </div>
                    <hr />
                    <span for="uname" style="display: flex; align-items: left"
                      ><b>Username</b></span
                    >
                    <input
                      type="text"
                      placeholder="Enter Username"
                      name="email"
                      required
                    />

                    <span for="psw" style="display: flex; align-items: left"
                      ><b>Password</b></span
                    >
                    <input
                      type="password"
                      placeholder="Enter Password"
                      name="psw"
                      required
                    />

                    <span for="c_psw" style="display: flex; align-items: left"
                      ><b>Confirm Password</b></span
                    >
                    <input
                      type="password"
                      placeholder="Enter Password"
                      name="c_psw"
                      required
                    />

                    <div class="clearfix">
                      <button
                        type="button"
                        onclick="document.getElementById('SignUp').style.display='none'"
                        class="cancelbtn"
                      >
                        Cancel
                      </button>
                      <button
                        type="submit"
                        class="signupbtn"
                        onclick="toggleAfterLogin()"
                      >
                        Sign Up
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="Login" class="modal">
                <span
                  onclick="document.getElementById('Login').style.display='none'"
                  class="close"
                  title="Close Modal"
                  >&times;</span
                >
                <div class="modal-content">
                  <div class="container_modal">
                    <div class="modal_header">
                      <div class="s_decor" onclick="toggleSignup()">
                        Sign Up
                      </div>
                      <div class="l_decor" onclick="toggleLogin()">Login</div>
                    </div>
                    <hr />
                    <span for="uname" style="display: flex; align-items: left"
                      ><b>Username</b></span
                    >
                    <input
                      type="text"
                      placeholder="Enter Username"
                      name="email"
                      required
                    />

                    <span for="psw" style="display: flex; align-items: left"
                      ><b>Password</b></span
                    >
                    <input
                      type="password"
                      placeholder="Enter Password"
                      name="psw"
                      required
                    />

                    <div class="clearfix">
                      <button
                        type="button"
                        onclick="document.getElementById('Login').style.display='none'"
                        class="cancelbtn"
                      >
                        Cancel
                      </button>
                      <button
                        type="submit"
                        class="signupbtn"
                        onclick="toggleAfterLogin()"
                      >
                        Login
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="rightmenu">
              <div class="btn" @click="toggleDark">
                <ion-icon
                  :name="darkMode ? 'sunny-outline' : 'moon-outline'"
                ></ion-icon>
              </div>
            </div>
          </div>
        </header>

        <main>
          <!--Megha-->
          <div id="dash1" class="dash-container">
            <h3>You are not logged in!</h3>
            <div class="btn-container">
              <button
                class="loginbtn"
                href=""
                onclick="document.getElementById('Login').style.display='block'"
              >
                Login
              </button>
              <button
                class="registerbtn"
                href=""
                onclick="document.getElementById('SignUp').style.display='block'"
              >
                Register
              </button>
            </div>
            <div class="dashboard">Dashboard</div>
          </div>

          <div id="dash2" class="dash-container" style="display: none">
            <div class="dashboard">Dashboard</div>
            <div class="plan-container">
              <h2>Welcome puku!</h2>
              <h1>Create Your Plans</h1>
              <a href="#"><b>New Board</b></a>
            </div>
          </div>
          <!--/Megha-->
        </main>

        <footer>
          <div class="copyright">
            Copyright &copy; <span id="full-year"></span> | Developed by Indic
            WebDev Team
          </div>
        </footer>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>

    <script src="js/app.js"></script>
    <script src="js/script.js"></script>

    <script>
      var modal_signup = document.getElementById("SignUp");
      var modal_login = document.getElementById("Login");

      window.onclick = function (event) {
        if (event.target == modal_signup) {
          modal_signup.style.display = "none";
        }
        if (event.target == modal_login) {
          modal_login.style.display = "none";
        }
      };
    </script>
  </body>
</html>
