.dark {
	div,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	label {
		color: $light-gray;
	}
	input,
	textarea {
		color: $light-gray;
		background-color: lighten($gray, 10%);
		:focus {
			background-color: lighten($gray, 20%);
		}
	}
	header {
		background-color: $gray;
		.rightmenu,
		.breadcrumb,
		.userprofile,
		.search-btn {
			color: lighten($gray, 50%);
		}
		.search-box {
			background-color: $black;
		}
		.userprofile,
		.searchbox {
			border-right: 5px solid $black;
		}
	}
	main {
		background-color: $black;
		.board {
			background-color: darken($gray, 3%);
			box-shadow: 0px 8px 16px 0px rgba($white, 0.2);
			.board-header {
				color: $light-gray;
				border-bottom: 3px solid lighten($gray, 3%);
			}
			.board-body {
				.note {
					background-color: $gray;
					.note-body {
						color: lighten($gray, 50%);
					}
					.note-footer {
						border-top: 2px solid lighten($gray, 3%);
						color: lighten($gray, 50%);
					}
					.new-note {
						color: lighten($gray, 30%);
					}
					&:hover {
						background-color: $white;
					}
				}
			}
			&.new-board {
				border-color: lighten($gray, 30%);
				color: lighten($gray, 30%);
				&:hover {
					background-color: $gray;
				}
			}
		}
	}

	footer {
		background-color: $gray;
		.copyright {
			color: lighten($gray, 50%);
		}
	}

	// Common Components
	.dropdown-content {
		background-color: $gray;
		box-shadow: 0px 8px 16px 0px rgba($white, 0.2);
		a:hover {
			background-color: $black;
		}
	}

	.modal {
		background-color: rgba($gray, 0.7);
		.modal-content {
			background-color: darken($gray, 3%);
			box-shadow: 0px 12px 24px 0px rgba($white, 0.2);
			.outlineBtn {
				background-color: darken($white, 13%);
			}
		}
	}

	// Dashboard
	.dash-container {
		.dashboard {
			background-color: $gray;
			box-shadow: 0px 8px 16px 0px rgba($white, 0.2);
		}
	}

	.context-menu{
		background-color: darken($gray, 3%);
		box-shadow: 0px 12px 24px 0px rgba($white, 0.2);
		.menu-item:hover{
			background-color: lighten($gray, 5%);
		}
	}
}
